.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.new-container {
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    gap: 16px;
}
